<body>
  <div class="wrapper">
    <div class="side">
      <div class="box">田中さんのマイページ </div>
      <div class="list">行ったとこ
        <div class="list__visited">都道府県</div>
      </div>
    </div>
    
    <div class="main">
      <div class="upper-content">
        <div class="map">
      </div>
      </div>

      <div class="under-content">
        <div class="contents">
        <div class="content">
          <div class="content__visited"></div>
          <div class="content__image"></div>
          <div class="content__text"></div>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class=footer>
    <address>えっ！？ まだ知らないの！！ これするだけで年収300万→→年収1000万になるのに.....</address>
  </div>
  
</body>


