<body>
  <div class="wrapper">
    <%= render  partial: "sidebar" %> 
    <div class="main">
      <div class="upper-content">
        
        <div class="content--comments">コメント機能表示
        </div>
      </div>



      <div class="under-content">
        <div class="contents">
          <% @contents.each do |content| %>
            <%=link_to content_path(content.id),class:"show-content" do%>
              <div class="show-content">
                <div class="content__title" >
                  <%= content.title %>
                </div>
                <div class="content__image">
                  <%= image_tag content.image.url, size:"298x187"%>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>

