.wrapper{
  border: none;  
  display: flex;
  margin: 0;
  padding: 0;
  display: flex;
  height: calc(100vh);
  width: calc(100vw);
  .side{
    width: 200px;
    height: calc(100vh);
    .user-box{
      background-color: lightslategray;
      height: 80px;
      &__name{
        height: 20px;
        width: 200px;
        text-align: center;
      }

      &__action{
        height: 20px;
        width: 150px;
        display: flex;
        &__post{
          height: 20px;
          width: 150px;
          cursor: pointer;
        }
        &__logout{
          height: 20px;
          width: 200px;
        }
      }
    }
    .list{
      background-color: lightpink;
      height: calc(100vh);
      &__visited{
        background-color: yellowgreen;
        margin: 20px;
        width: 200px;
        height: 30px;
      }
    }
  }

  .main{
    width: calc(100vw - 200px);
    height: calc(100vh);
    background-color:blue;
    .upper-content{
      background-color: lightcyan;
      height: 450px;
      .map{
        

        .popup-overlay{
          /*Hides pop-up when there is no "active" class*/
          visibility:hidden;
          position:absolute;
          background:rgba(0, 0, 0, 0.5);
          width:100%;     //画面全体覆う
          height:100%;   //画面全体覆う
          z-index: 1;    //浮かせる
          position: fixed; //固定する
          top: 0;
          left: 0;

        }
        .popup-overlay.active{
          /*displays pop-up when "active" class is present*/
          visibility:visible;
          text-align:center;
        }
        
        .popup-content {
          /*Hides pop-up content when there is no "active" class */
         visibility:hidden;
         background-color: royalblue;
         position: absolute;
         width: 50%;
         height: 50%;
         top: 25%;
         left: 25%;
        }
        
        .popup-content.active {
          /*Shows pop-up content when "active" class is present */
          visibility:visible;
        }
        
        button{
          display:inline-block;
          vertical-align:middle;
          border-radius:30px;
          margin:.20rem;
          font-size: 1rem;
          color:#666666;
          background:	#ffffff;
          border:1px solid #666666;  
        }
        
        button:hover{
          border:1px solid #666666;
          background:#666666;
          color:#ffffff;
        }

        
      }
    }

    .under-content{
      background-color: green($color: #000000);
      height: calc(50vh);

      .contents{
        height: 100%;
        display: flex;
        background-color:white;
        overflow: scroll;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;

        .show-content{
          margin-left: 10px;
          height: 100px;
          width: 100%;
          background-color: salmon;
          &__visited{
            margin-top: 5px;
            background-color: gold;
            height: 30px;
            color: red;
          }
          &__image{
            margin-top: 5px;
            background-color: gold;
            height: 30px;
            color: red;
            display: none;
          }
          &__text{
            margin-top: 5px;
            background-color: gold;
            height: 30px;
            color: red;
          }
        }
      }
    }
  }
}

.footer{
  width: calc(100vw);
  height: 50px;
  background-color: black;
  text-align: center;
  line-height: 50px;
  position: relative;
  a{
    color: yellowgreen;
    text-decoration: none;
    width: 100%;
    height: 100%;
    
    display: inline-block;

  }
  
}
